body{
  background: #F79F81;
  text-align: center;
}
.parent{
  background: #8258FA;
  border: 2PX solid #C70039;
  display:flex;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}
.child{
  background: #F5B041;
  border: 2px solid #C70039;
  border-radius: 5%;
  height:40%;
  width: 30%;
  margin: 5%;
  padding: 2%;
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
  margin: 3%;
}
@media screen and (max-width:767px) {
.parent{
  flex-wrap: wrap;
}
.child{
  width:100%;
}
}
@media screen and (min-width:768px) and (max-width:1024px) {
.parent{
  flex-wrap: wrap;
}
.child{
  width:30%;
}
}
